# IMPORT-ANTS

In [3]:
import pandas as pd
import re

# READING CSV

In [29]:
df = pd.read_csv('company_list_with_info.csv')

# PRELIMINARY CLEANING

In [30]:
def prelim_clean():
    for x in df.index:

        #JS COL
        if 'https' in df.loc[x, 'company_js_url']:
            df.loc[x, 'company_js_url'] = re.sub(r'(https.*companies)', '', df.loc[x, 'company_js_url'])

        #LOCATION COL
        if 'Location' in df.loc[x, 'company_address']:
            df.loc[x, 'company_address'] = re.sub(r'Location', '', df.loc[x, 'company_address'])

        #WEBSITE COL
        if 'Website' in df.loc[x, 'company_website']:
            df.loc[x, 'company_website'] = re.sub(r'Website', '', df.loc[x, 'company_website'])

        #COMPANY SIZE COL
        if 'Company Size' in df.loc[x, 'company_employee_num']:
            df.loc[x, 'company_employee_num'] = re.sub(r'Company Size', '', df.loc[x, 'company_employee_num'])
        if 'Employees' in df.loc[x, 'company_employee_num']:
            df.loc[x, 'company_employee_num'] = re.sub(r'Employees', '', df.loc[x, 'company_employee_num'])
        if 'More than' in df.loc[x, 'company_employee_num']:
            df.loc[x, 'company_employee_num'] = re.sub(r'More than', '>', df.loc[x, 'company_employee_num'])

        #BENEFITS COL
        if 'Benefits' in df.loc[x, 'company_benefit']:
            df.loc[x, 'company_benefit'] = re.sub(r'Benefits', '', df.loc[x, 'company_benefit'])

        #DRESS CODE COL
        if 'Dress code' in df.loc[x, 'company_dress_code']:
            df.loc[x, 'company_dress_code'] = re.sub(r'Dress code', '', df.loc[x, 'company_dress_code'])

        #LANGUAGE COL
        if 'Spoken language' in df.loc[x, 'company_language']:
            df.loc[x, 'company_language'] = re.sub(r'Spoken language', '', df.loc[x, 'company_language'])

        #WORK HOURS COL
        if 'Work hours' in df.loc[x, 'company_work_hours']:
            df.loc[x, 'company_work_hours'] = re.sub(r'Work hours', '', df.loc[x, 'company_work_hours'])

In [31]:
prelim_clean()

# DROPPING REDUNDANT COLUMNS

In [32]:
df = df.drop(['Unnamed: 0.1', 'Unnamed: 0', 'company_js_url', 'company_website'], axis=1)

In [33]:
df = df.replace('No Info', None)
df = df.replace('Not Specified', None)
df = df.replace('-', None)
df = df.replace('None', None)
df = df.dropna()

In [34]:
df

,company_name,company_rating,five_star_rating,four_star_rating,three_star_rating,two_star_rating,one_star_rating,salary_rate,recommendation_rate,company_address,company_employee_num,company_benefit,company_dress_code,company_language,company_work_hours
0,Petroliam Nasional Berhad (PETRONAS),4.5584,1427,336,109,37,50,94%,88%,"Level 3, Menara Dayabumi\r\nJalan Sultan Hisha...",> 5000,Medical,Business (e.g. Shirts),English,"Regular hours, Mondays - Fridays"
1,Malayan Banking Berhad (Maybank),4.3470,1081,437,139,38,83,92%,87%,Menara Maybank Jalan Tun Perak Kuala Lumpur Wi...,> 5000,"Medical, Miscellaneous allowance, Education su...",Formal (e.g. Shirts + Ties),English,"Regular hours, Mondays - Fridays"
2,Keysight Technologies Malaysia Sdn. Bhd.,4.5613,904,299,64,14,26,94%,94%,"Bayan Lepas Free Industrial Zone, 11900 Penang...",2001 - 5000,"Medical, Education support, Loans, Dental, Spo...",Smart Casual,English,"Regular hours, Mondays - Fridays"
3,United Overseas Bank (Malaysia) Bhd,4.6111,920,276,48,11,23,97%,93%,Menara Uob Jalan Raja Laut Kuala Lumpur Wilaya...,2001 - 5000,"Medical, Loans, Dental, Optical",Formal (e.g. Shirts + Ties),English,"Regular hours, Mondays - Fridays"
4,Kumpulan Wang Simpanan Pekerja (KWSP),4.4548,783,171,113,26,35,95%,78%,"Bangunan KWSP, Jalan Raja Laut, 50350 Kuala Lu...",> 5000,"Medical, Miscellaneous allowance, Education su...",Business Casual,Bahasa Malaysia / English,"Regular hours, Mondays - Fridays"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8854,Nose (Malaysia) Sdn Bhd,2.1250,1,1,0,2,4,37%,25%,"Unit 902, Block A, Pusat Dagangan Phileo Daman...",51 - 200,Miscellaneous allowance,Casual (e.g. T-shirts),English,"Regular hours, Mondays - Fridays"
8856,Live Consistant Sdn Bhd,4.2500,4,2,2,0,0,75%,75%,"No. 1, Jln Apollo U5/195, Seksyen U5, Bandar P...",51 - 200,"Medical, Miscellaneous allowance",Business (e.g. Shirts),Malay,"Regular hours, Mondays - Fridays"
8857,YAU & CO.,4.8750,7,1,0,0,0,100%,87%,IOI Boulevard Puchong Jalan Kenari 5 Bandar Pu...,1 - 50,"Medical, Miscellaneous allowance, Education su...",Business (e.g. Shirts),English,"Regular hours, Mondays - Fridays"
8858,OLGAD SDN BHD,2.2500,1,2,0,0,5,87%,25%,"NO 40, JALAN SUNGAI KOROK, 05400 ALOR SETAR, K...",1 - 50,"Commission, Team Building, Annual Leave, Birth...",Office Uniform,English,"SUNDAY - THURSDAY (8.30am-6.00pm) , SATURDAY (..."
8859,INTRIOUS TECHNOLOGY SDN BHD,5.0000,7,0,0,0,0,100%,100%,"Lot 37672, Jalan 3/37a, Kawasan Industri Taman...",1 - 50,"Medical, Miscellaneous allowance, Parking",Business (e.g. Shirts),English,"Regular hours, Mondays - Fridays"

# CHECKING UNIQUE VALUES

In [35]:
def checkUniqueValue():
    print("Unique Values",'\n')

    print("Name       : ", len(df.company_name.unique()))
    print("Adress     : ", len(df.company_address.unique()))
    print("Size       : ", len(df.company_employee_num.unique()))
    print("Benefit    : ", len(df.company_benefit.unique()))
    print("Dress code : ", len(df.company_dress_code.unique()))
    print("Language   : ", len(df.company_language.unique()))
    print("Work hours : ", len(df.company_work_hours.unique()))

In [36]:
#checkUniqueValue()

In [37]:
def checkUniqueValueCount():
    print("Checking value counts",'\n')

    print("Name       : ", '\n', df.company_name.value_counts(), '\n')
    print("Adress     : ", '\n', df.company_address.value_counts(), '\n')
    print("Size       : ", '\n', df.company_employee_num.value_counts(), '\n')
    print("Benefit    : ", '\n', df.company_benefit.value_counts(), '\n')
    print("Dress code : ", '\n', df.company_dress_code.value_counts(), '\n')
    print("Language   : ", '\n', df.company_language.value_counts(), '\n')
    print("Work hours : ", '\n', df.company_work_hours.value_counts(), '\n')

In [38]:
#checkUniqueValueCount()

# Trying to do something with the Company Address

In [39]:
#df.insert(10, "company_state", "")

In [40]:
def classify_state():
    if "company_state" not in df.columns:
        df.insert(10, "company_state", "")  

    KL = ['kuala lumpur', 'kl', 'bukit jalil', 'wilayah persekutuan', 'q sentral']
    KD = ['kedah']
    SL = ['selangor', 'klang', 'puchong', 'petaling jaya', 'ampang', 'subang', 'shah alam',
          'damansara', 'petaling', 'cheras', 'kelana jaya','sungai buloh', 'tropicana avenue', 
          'pj']
    PG = ['penang', 'pinang', 'georgetown']
    JH = ['johor', 'pasir gudang']
    PR = ['perak']
    PH = ['pahang']
    NS = ['negeri sembilan', 'seremban', 'port dickson']
    SR = ['sarawak', 'kuching']
    ML = ['malacca', 'melaka', 'alor gajah']
    SB = ['sabah']
    KT = ['kelantan']
    SG = ['singapore']

    for x in df.index:

        #LOWER-CASING
        df.loc[x, 'company_address'] = df.loc[x, 'company_address'].lower()

        #KUALA LUMPUR
        for y in range(len(KL)):
            if KL[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Kuala Lumpur"

        #SELANGOR
        for y in range(len(SL)):     
            if SL[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Selangor"

        #KEDAH    
        for y in range(len(KD)):    
            if KD[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Kedah"

        #JOHOR
        for y in range(len(JH)):    
            if JH[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Johor"

        #PENANG
        for y in range(len(PG)):
            if PG[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Penang"

        #SABAH
        for y in range(len(SB)):
            if SB[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Sabah"

        #PAHANG
        for y in range(len(PH)):    
            if PH[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Pahang"

        #PERAK
        for y in range(len(PR)):          
            if PR[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Perak"

        #SARAWAK
        for y in range(len(SR)):          
            if SR[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Sarawak"

        #MELAKA
        for y in range(len(ML)):          
            if ML[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Melaka"

        #NEGERI SEMBILAN
        for y in range(len(NS)):          
            if NS[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Negeri Sembilan"

        #KELANTAN
        for y in range(len(KT)):          
            if KT[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Negeri Sembilan"

        #SINGAPORE
        for y in range(len(SG)):          
            if SG[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Singapore"

In [41]:
classify_state()
df

,company_name,company_rating,five_star_rating,four_star_rating,three_star_rating,two_star_rating,one_star_rating,salary_rate,recommendation_rate,company_address,company_state,company_employee_num,company_benefit,company_dress_code,company_language,company_work_hours
0,Petroliam Nasional Berhad (PETRONAS),4.5584,1427,336,109,37,50,94%,88%,"level 3, menara dayabumi\r\njalan sultan hisha...",Kuala Lumpur,> 5000,Medical,Business (e.g. Shirts),English,"Regular hours, Mondays - Fridays"
1,Malayan Banking Berhad (Maybank),4.3470,1081,437,139,38,83,92%,87%,menara maybank jalan tun perak kuala lumpur wi...,Perak,> 5000,"Medical, Miscellaneous allowance, Education su...",Formal (e.g. Shirts + Ties),English,"Regular hours, Mondays - Fridays"
2,Keysight Technologies Malaysia Sdn. Bhd.,4.5613,904,299,64,14,26,94%,94%,"bayan lepas free industrial zone, 11900 penang...",Penang,2001 - 5000,"Medical, Education support, Loans, Dental, Spo...",Smart Casual,English,"Regular hours, Mondays - Fridays"
3,United Overseas Bank (Malaysia) Bhd,4.6111,920,276,48,11,23,97%,93%,menara uob jalan raja laut kuala lumpur wilaya...,Kuala Lumpur,2001 - 5000,"Medical, Loans, Dental, Optical",Formal (e.g. Shirts + Ties),English,"Regular hours, Mondays - Fridays"
4,Kumpulan Wang Simpanan Pekerja (KWSP),4.4548,783,171,113,26,35,95%,78%,"bangunan kwsp, jalan raja laut, 50350 kuala lu...",Kuala Lumpur,> 5000,"Medical, Miscellaneous allowance, Education su...",Business Casual,Bahasa Malaysia / English,"Regular hours, Mondays - Fridays"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8854,Nose (Malaysia) Sdn Bhd,2.1250,1,1,0,2,4,37%,25%,"unit 902, block a, pusat dagangan phileo daman...",Selangor,51 - 200,Miscellaneous allowance,Casual (e.g. T-shirts),English,"Regular hours, Mondays - Fridays"
8856,Live Consistant Sdn Bhd,4.2500,4,2,2,0,0,75%,75%,"no. 1, jln apollo u5/195, seksyen u5, bandar p...",Selangor,51 - 200,"Medical, Miscellaneous allowance",Business (e.g. Shirts),Malay,"Regular hours, Mondays - Fridays"
8857,YAU & CO.,4.8750,7,1,0,0,0,100%,87%,ioi boulevard puchong jalan kenari 5 bandar pu...,Selangor,1 - 50,"Medical, Miscellaneous allowance, Education su...",Business (e.g. Shirts),English,"Regular hours, Mondays - Fridays"
8858,OLGAD SDN BHD,2.2500,1,2,0,0,5,87%,25%,"no 40, jalan sungai korok, 05400 alor setar, k...",Kedah,1 - 50,"Commission, Team Building, Annual Leave, Birth...",Office Uniform,English,"SUNDAY - THURSDAY (8.30am-6.00pm) , SATURDAY (..."
8859,INTRIOUS TECHNOLOGY SDN BHD,5.0000,7,0,0,0,0,100%,100%,"lot 37672, jalan 3/37a, kawasan industri taman...",Kuala Lumpur,1 - 50,"Medical, Miscellaneous allowance, Parking",Business (e.g. Shirts),English,"Regular hours, Mondays - Fridays"

In [18]:
df = df.replace('No Info', None)
df = df.replace('Not Specified', None)
df = df.replace('-', None)
df = df.replace('None', None)
#df = df.drop(['company_address'], axis=1)
df = df.dropna()
df

,company_name,company_rating,five_star_rating,four_star_rating,three_star_rating,two_star_rating,one_star_rating,salary_rate,recommendation_rate,company_state,company_employee_num,company_benefit,company_dress_code,company_language,company_work_hours
0,Petroliam Nasional Berhad (PETRONAS),4.5584,1427,336,109,37,50,94%,88%,Kuala Lumpur,> 5000,Medical,Business (e.g. Shirts),English,"Regular hours, Mondays - Fridays"
1,Malayan Banking Berhad (Maybank),4.3470,1081,437,139,38,83,92%,87%,Kuala Lumpur,> 5000,"Medical, Miscellaneous allowance, Education su...",Formal (e.g. Shirts + Ties),English,"Regular hours, Mondays - Fridays"
2,Keysight Technologies Malaysia Sdn. Bhd.,4.5613,904,299,64,14,26,94%,94%,Penang,2001 - 5000,"Medical, Education support, Loans, Dental, Spo...",Smart Casual,English,"Regular hours, Mondays - Fridays"
3,United Overseas Bank (Malaysia) Bhd,4.6111,920,276,48,11,23,97%,93%,Kuala Lumpur,2001 - 5000,"Medical, Loans, Dental, Optical",Formal (e.g. Shirts + Ties),English,"Regular hours, Mondays - Fridays"
4,Kumpulan Wang Simpanan Pekerja (KWSP),4.4548,783,171,113,26,35,95%,78%,Kuala Lumpur,> 5000,"Medical, Miscellaneous allowance, Education su...",Business Casual,Bahasa Malaysia / English,"Regular hours, Mondays - Fridays"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8854,Nose (Malaysia) Sdn Bhd,2.1250,1,1,0,2,4,37%,25%,Selangor,51 - 200,Miscellaneous allowance,Casual (e.g. T-shirts),English,"Regular hours, Mondays - Fridays"
8856,Live Consistant Sdn Bhd,4.2500,4,2,2,0,0,75%,75%,Selangor,51 - 200,"Medical, Miscellaneous allowance",Business (e.g. Shirts),Malay,"Regular hours, Mondays - Fridays"
8857,YAU & CO.,4.8750,7,1,0,0,0,100%,87%,Selangor,1 - 50,"Medical, Miscellaneous allowance, Education su...",Business (e.g. Shirts),English,"Regular hours, Mondays - Fridays"
8858,OLGAD SDN BHD,2.2500,1,2,0,0,5,87%,25%,Kedah,1 - 50,"Commission, Team Building, Annual Leave, Birth...",Office Uniform,English,"SUNDAY - THURSDAY (8.30am-6.00pm) , SATURDAY (..."
8859,INTRIOUS TECHNOLOGY SDN BHD,5.0000,7,0,0,0,0,100%,100%,Kuala Lumpur,1 - 50,"Medical, Miscellaneous allowance, Parking",Business (e.g. Shirts),English,"Regular hours, Mondays - Fridays"

In [ ]:
df

In [42]:
df.to_csv('company_list_state_classified.csv')

In [ ]:
df.size