In [44]:
import pandas as pd

df = pd.read_csv('company_list_with_info.csv')

In [45]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'company_name', 'company_js_url',
       'company_rating', 'five_star_rating', 'four_star_rating',
       'three_star_rating', 'two_star_rating', 'one_star_rating',
       'salary_rate', 'recommendation_rate', 'company_address',
       'company_website', 'company_employee_num', 'company_benefit',
       'company_dress_code', 'company_language', 'company_work_hours'],
      dtype='object')

# Function#1 - Dropping redundant columns :
- Unnamed: 0.1
- Unnamed: 0
- company_js_url
- company_website

In [50]:
# BEFORE
df.head()

,Unnamed: 0.1,Unnamed: 0,company_name,company_js_url,company_rating,five_star_rating,four_star_rating,three_star_rating,two_star_rating,one_star_rating,salary_rate,recommendation_rate,company_address,company_website,company_employee_num,company_benefit,company_dress_code,company_language,company_work_hours
0,0,0,Petroliam Nasional Berhad (PETRONAS),https://www.jobstreet.com.my/en/companies/1319...,4.5584,1427,336,109,37,50,94%,88%,"LocationLevel 3, Menara Dayabumi\r\nJalan Sult...",Websitepetronas.com,Company SizeMore than 5000 Employees,BenefitsMedical,Dress codeBusiness (e.g. Shirts),Spoken languageEnglish,"Work hoursRegular hours, Mondays - Fridays"
1,1,1,Malayan Banking Berhad (Maybank),https://www.jobstreet.com.my/en/companies/6101...,4.3470,1081,437,139,38,83,92%,87%,LocationMenara Maybank Jalan Tun Perak Kuala L...,Websitemaybank.com,Company SizeMore than 5000 Employees,"BenefitsMedical, Miscellaneous allowance, Educ...",Dress codeFormal (e.g. Shirts + Ties),Spoken languageEnglish,"Work hoursRegular hours, Mondays - Fridays"
2,2,2,Keysight Technologies Malaysia Sdn. Bhd.,https://www.jobstreet.com.my/en/companies/4393...,4.5613,904,299,64,14,26,94%,94%,"LocationBayan Lepas Free Industrial Zone, 1190...",Websitejobs.keysight.com,Company Size2001 - 5000 Employees,"BenefitsMedical, Education support, Loans, Den...",Dress codeSmart Casual,Spoken languageEnglish,"Work hoursRegular hours, Mondays - Fridays"
3,3,3,United Overseas Bank (Malaysia) Bhd,https://www.jobstreet.com.my/en/companies/6099...,4.6111,920,276,48,11,23,97%,93%,LocationMenara Uob Jalan Raja Laut Kuala Lumpu...,Websiteuob.com.my,Company Size2001 - 5000 Employees,"BenefitsMedical, Loans, Dental, Optical",Dress codeFormal (e.g. Shirts + Ties),Spoken languageEnglish,"Work hoursRegular hours, Mondays - Fridays"
4,4,4,Kumpulan Wang Simpanan Pekerja (KWSP),https://www.jobstreet.com.my/en/companies/4428...,4.4548,783,171,113,26,35,95%,78%,"LocationBangunan KWSP, Jalan Raja Laut, 50350 ...",Websitekwsp.gov.my,Company SizeMore than 5000 Employees,"BenefitsMedical, Miscellaneous allowance, Educ...",Dress codeBusiness Casual,Spoken languageBahasa Malaysia / English,"Work hoursRegular hours, Mondays - Fridays"

In [51]:
def clean1(DataFrame):
    df = DataFrame.drop(['Unnamed: 0.1', 'Unnamed: 0', 'company_js_url', 'company_website'], axis=1)
    return df

In [52]:
# AFTER
df = clean1(df)
df.head()

,company_name,company_rating,five_star_rating,four_star_rating,three_star_rating,two_star_rating,one_star_rating,salary_rate,recommendation_rate,company_address,company_employee_num,company_benefit,company_dress_code,company_language,company_work_hours
0,Petroliam Nasional Berhad (PETRONAS),4.5584,1427,336,109,37,50,94%,88%,"LocationLevel 3, Menara Dayabumi\r\nJalan Sult...",Company SizeMore than 5000 Employees,BenefitsMedical,Dress codeBusiness (e.g. Shirts),Spoken languageEnglish,"Work hoursRegular hours, Mondays - Fridays"
1,Malayan Banking Berhad (Maybank),4.3470,1081,437,139,38,83,92%,87%,LocationMenara Maybank Jalan Tun Perak Kuala L...,Company SizeMore than 5000 Employees,"BenefitsMedical, Miscellaneous allowance, Educ...",Dress codeFormal (e.g. Shirts + Ties),Spoken languageEnglish,"Work hoursRegular hours, Mondays - Fridays"
2,Keysight Technologies Malaysia Sdn. Bhd.,4.5613,904,299,64,14,26,94%,94%,"LocationBayan Lepas Free Industrial Zone, 1190...",Company Size2001 - 5000 Employees,"BenefitsMedical, Education support, Loans, Den...",Dress codeSmart Casual,Spoken languageEnglish,"Work hoursRegular hours, Mondays - Fridays"
3,United Overseas Bank (Malaysia) Bhd,4.6111,920,276,48,11,23,97%,93%,LocationMenara Uob Jalan Raja Laut Kuala Lumpu...,Company Size2001 - 5000 Employees,"BenefitsMedical, Loans, Dental, Optical",Dress codeFormal (e.g. Shirts + Ties),Spoken languageEnglish,"Work hoursRegular hours, Mondays - Fridays"
4,Kumpulan Wang Simpanan Pekerja (KWSP),4.4548,783,171,113,26,35,95%,78%,"LocationBangunan KWSP, Jalan Raja Laut, 50350 ...",Company SizeMore than 5000 Employees,"BenefitsMedical, Miscellaneous allowance, Educ...",Dress codeBusiness Casual,Spoken languageBahasa Malaysia / English,"Work hoursRegular hours, Mondays - Fridays"

# Function#2 - Preliminary cleaning of data

In [53]:
# BEFORE
df[['company_address','company_employee_num','company_benefit','company_dress_code','company_language','company_work_hours']]

,company_address,company_employee_num,company_benefit,company_dress_code,company_language,company_work_hours
0,"LocationLevel 3, Menara Dayabumi\r\nJalan Sult...",Company SizeMore than 5000 Employees,BenefitsMedical,Dress codeBusiness (e.g. Shirts),Spoken languageEnglish,"Work hoursRegular hours, Mondays - Fridays"
1,LocationMenara Maybank Jalan Tun Perak Kuala L...,Company SizeMore than 5000 Employees,"BenefitsMedical, Miscellaneous allowance, Educ...",Dress codeFormal (e.g. Shirts + Ties),Spoken languageEnglish,"Work hoursRegular hours, Mondays - Fridays"
2,"LocationBayan Lepas Free Industrial Zone, 1190...",Company Size2001 - 5000 Employees,"BenefitsMedical, Education support, Loans, Den...",Dress codeSmart Casual,Spoken languageEnglish,"Work hoursRegular hours, Mondays - Fridays"
3,LocationMenara Uob Jalan Raja Laut Kuala Lumpu...,Company Size2001 - 5000 Employees,"BenefitsMedical, Loans, Dental, Optical",Dress codeFormal (e.g. Shirts + Ties),Spoken languageEnglish,"Work hoursRegular hours, Mondays - Fridays"
4,"LocationBangunan KWSP, Jalan Raja Laut, 50350 ...",Company SizeMore than 5000 Employees,"BenefitsMedical, Miscellaneous allowance, Educ...",Dress codeBusiness Casual,Spoken languageBahasa Malaysia / English,"Work hoursRegular hours, Mondays - Fridays"
...,...,...,...,...,...,...
8855,No Info,Company SizeNot Specified,No Info,No Info,No Info,No Info
8856,"LocationNo. 1, Jln Apollo U5/195, Seksyen U5, ...",Company Size51 - 200 Employees,"BenefitsMedical, Miscellaneous allowance",Dress codeBusiness (e.g. Shirts),Spoken languageMalay,"Work hoursRegular hours, Mondays - Fridays"
8857,LocationIOI Boulevard Puchong Jalan Kenari 5 B...,Company Size1 - 50 Employees,"BenefitsMedical, Miscellaneous allowance, Educ...",Dress codeBusiness (e.g. Shirts),Spoken languageEnglish,"Work hoursRegular hours, Mondays - Fridays"
8858,"LocationNO 40, JALAN SUNGAI KOROK, 05400 ALOR ...",Company Size1 - 50 Employees,"BenefitsCommission, Team Building, Annual Leav...",Dress codeOffice Uniform,Spoken languageEnglish,"Work hoursSUNDAY - THURSDAY (8.30am-6.00pm) , ..."
8859,"LocationLot 37672, Jalan 3/37a, Kawasan Indust...",Company Size1 - 50 Employees,"BenefitsMedical, Miscellaneous allowance, Parking",Dress codeBusiness (e.g. Shirts),Spoken languageEnglish,"Work hoursRegular hours, Mondays - Fridays"

In [54]:
def prelim_clean(DataFrame):
    import re
    
    df = DataFrame
    for x in df.index:
        
#         #JS COL
#         if 'https' in df.loc[x, 'company_js_url']:
#             df.loc[x, 'company_js_url'] = re.sub(r'(https.*companies)', '', df.loc[x, 'company_js_url'])

        #LOCATION COL
        if 'Location' in df.loc[x, 'company_address']:
            df.loc[x, 'company_address'] = re.sub(r'Location', '', df.loc[x, 'company_address'])

        #WEBSITE COL
#         if 'Website' in df.loc[x, 'company_website']:
#             df.loc[x, 'company_website'] = re.sub(r'Website', '', df.loc[x, 'company_website'])

        #COMPANY SIZE COL
        if 'Company Size' in df.loc[x, 'company_employee_num']:
            df.loc[x, 'company_employee_num'] = re.sub(r'Company Size', '', df.loc[x, 'company_employee_num'])
        if 'Employees' in df.loc[x, 'company_employee_num']:
            df.loc[x, 'company_employee_num'] = re.sub(r'Employees', '', df.loc[x, 'company_employee_num'])
        if 'More than' in df.loc[x, 'company_employee_num']:
            df.loc[x, 'company_employee_num'] = re.sub(r'More than', '>', df.loc[x, 'company_employee_num'])

        #BENEFITS COL
        if 'Benefits' in df.loc[x, 'company_benefit']:
            df.loc[x, 'company_benefit'] = re.sub(r'Benefits', '', df.loc[x, 'company_benefit'])

        #DRESS CODE COL
        if 'Dress code' in df.loc[x, 'company_dress_code']:
            df.loc[x, 'company_dress_code'] = re.sub(r'Dress code', '', df.loc[x, 'company_dress_code'])

        #LANGUAGE COL
        if 'Spoken language' in df.loc[x, 'company_language']:
            df.loc[x, 'company_language'] = re.sub(r'Spoken language', '', df.loc[x, 'company_language'])

        #WORK HOURS COL
        if 'Work hours' in df.loc[x, 'company_work_hours']:
            df.loc[x, 'company_work_hours'] = re.sub(r'Work hours', '', df.loc[x, 'company_work_hours'])
            
    return df

In [55]:
# AFTER
df = prelim_clean(df)
df[['company_address','company_employee_num','company_benefit','company_dress_code','company_language','company_work_hours']]

,company_address,company_employee_num,company_benefit,company_dress_code,company_language,company_work_hours
0,"Level 3, Menara Dayabumi\r\nJalan Sultan Hisha...",> 5000,Medical,Business (e.g. Shirts),English,"Regular hours, Mondays - Fridays"
1,Menara Maybank Jalan Tun Perak Kuala Lumpur Wi...,> 5000,"Medical, Miscellaneous allowance, Education su...",Formal (e.g. Shirts + Ties),English,"Regular hours, Mondays - Fridays"
2,"Bayan Lepas Free Industrial Zone, 11900 Penang...",2001 - 5000,"Medical, Education support, Loans, Dental, Spo...",Smart Casual,English,"Regular hours, Mondays - Fridays"
3,Menara Uob Jalan Raja Laut Kuala Lumpur Wilaya...,2001 - 5000,"Medical, Loans, Dental, Optical",Formal (e.g. Shirts + Ties),English,"Regular hours, Mondays - Fridays"
4,"Bangunan KWSP, Jalan Raja Laut, 50350 Kuala Lu...",> 5000,"Medical, Miscellaneous allowance, Education su...",Business Casual,Bahasa Malaysia / English,"Regular hours, Mondays - Fridays"
...,...,...,...,...,...,...
8855,No Info,Not Specified,No Info,No Info,No Info,No Info
8856,"No. 1, Jln Apollo U5/195, Seksyen U5, Bandar P...",51 - 200,"Medical, Miscellaneous allowance",Business (e.g. Shirts),Malay,"Regular hours, Mondays - Fridays"
8857,IOI Boulevard Puchong Jalan Kenari 5 Bandar Pu...,1 - 50,"Medical, Miscellaneous allowance, Education su...",Business (e.g. Shirts),English,"Regular hours, Mondays - Fridays"
8858,"NO 40, JALAN SUNGAI KOROK, 05400 ALOR SETAR, K...",1 - 50,"Commission, Team Building, Annual Leave, Birth...",Office Uniform,English,"SUNDAY - THURSDAY (8.30am-6.00pm) , SATURDAY (..."
8859,"Lot 37672, Jalan 3/37a, Kawasan Industri Taman...",1 - 50,"Medical, Miscellaneous allowance, Parking",Business (e.g. Shirts),English,"Regular hours, Mondays - Fridays"

# Function#3 - Classifying Address by States

In [56]:
# BEFORE
df[['company_address']]

                                        company_address
0     Level 3, Menara Dayabumi\r\nJalan Sultan Hisha...
1     Menara Maybank Jalan Tun Perak Kuala Lumpur Wi...
2     Bayan Lepas Free Industrial Zone, 11900 Penang...
3     Menara Uob Jalan Raja Laut Kuala Lumpur Wilaya...
4     Bangunan KWSP, Jalan Raja Laut, 50350 Kuala Lu...
...                                                 ...
8855                                            No Info
8856  No. 1, Jln Apollo U5/195, Seksyen U5, Bandar P...
8857  IOI Boulevard Puchong Jalan Kenari 5 Bandar Pu...
8858  NO 40, JALAN SUNGAI KOROK, 05400 ALOR SETAR, K...
8859  Lot 37672, Jalan 3/37a, Kawasan Industri Taman...

[8860 rows x 1 columns]

In [57]:
def classify_state(DataFrame):
    df = DataFrame
    
    if "company_state" not in df.columns:
        df.insert(10, "company_state", "")  

    KL = ['kuala lumpur', 'kl', 'bukit jalil', 'wilayah persekutuan', 'q sentral']
    KD = ['kedah']
    SL = ['selangor', 'klang', 'puchong', 'petaling jaya', 'ampang', 'subang', 'shah alam',
          'damansara', 'petaling', 'cheras', 'kelana jaya','sungai buloh', 'tropicana avenue', 
          'pj']
    PG = ['penang', 'pinang', 'georgetown']
    JH = ['johor', 'pasir gudang']
    PR = ['perak']
    PH = ['pahang']
    NS = ['negeri sembilan', 'seremban', 'port dickson']
    SR = ['sarawak', 'kuching']
    ML = ['malacca', 'melaka', 'alor gajah']
    SB = ['sabah']
    KT = ['kelantan']
    SG = ['singapore']

    for x in df.index:

        #LOWER-CASING
        df.loc[x, 'company_address'] = df.loc[x, 'company_address'].lower()

        #KUALA LUMPUR
        for y in range(len(KL)):
            if KL[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Kuala Lumpur"

        #SELANGOR
        for y in range(len(SL)):     
            if SL[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Selangor"

        #KEDAH    
        for y in range(len(KD)):    
            if KD[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Kedah"

        #JOHOR
        for y in range(len(JH)):    
            if JH[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Johor"

        #PENANG
        for y in range(len(PG)):
            if PG[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Penang"

        #SABAH
        for y in range(len(SB)):
            if SB[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Sabah"

        #PAHANG
        for y in range(len(PH)):    
            if PH[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Pahang"

        #PERAK
        for y in range(len(PR)):          
            if PR[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Perak"

        #SARAWAK
        for y in range(len(SR)):          
            if SR[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Sarawak"

        #MELAKA
        for y in range(len(ML)):          
            if ML[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Melaka"

        #NEGERI SEMBILAN
        for y in range(len(NS)):          
            if NS[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Negeri Sembilan"

        #KELANTAN
        for y in range(len(KT)):          
            if KT[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Negeri Sembilan"

        #SINGAPORE
        for y in range(len(SG)):          
            if SG[y] in df.loc[x, 'company_address']:
                #df.loc[x, 'company_address'] = 'None'
                df.loc[x, 'company_state'] = "Singapore"
    return df

In [58]:
# AFTER
df = classify_state(df)
df[['company_address','company_state']]

                                        company_address company_state
0     level 3, menara dayabumi\r\njalan sultan hisha...  Kuala Lumpur
1     menara maybank jalan tun perak kuala lumpur wi...         Perak
2     bayan lepas free industrial zone, 11900 penang...        Penang
3     menara uob jalan raja laut kuala lumpur wilaya...  Kuala Lumpur
4     bangunan kwsp, jalan raja laut, 50350 kuala lu...  Kuala Lumpur
...                                                 ...           ...
8855                                            no info
8856  no. 1, jln apollo u5/195, seksyen u5, bandar p...      Selangor
8857  ioi boulevard puchong jalan kenari 5 bandar pu...      Selangor
8858  no 40, jalan sungai korok, 05400 alor setar, k...         Kedah
8859  lot 37672, jalan 3/37a, kawasan industri taman...  Kuala Lumpur

[8860 rows x 2 columns]